.first{
    margin-left: 130px;
}
.all{
    display: flex;
    margin-top: 25px;
}
.f1{
    display: flex;
}
.cart{
    width:330px;
    height:200px;
    background-color: rgb(74, 72, 72);
    border-radius: 10px;
    margin: 10px;
}
.mike{
    height: 25px;
    margin-left: 280px;
    margin-top: 10px;
}
.c1{
    height:90px;
    margin-left: 120px;
    margin-top: 5px;
}
.name{
    color: white;
    margin-left: 10px;
    margin-top: 20px;
}
body{
    background-color: rgb(15, 14, 14);
}
.second{
    background-color: white;
    width:450px;
    height: 630px;
    border-radius: 10px;
    margin: 10px;
    margin-left: 190px;
}
.a1{
    font-size: 25px;
    margin-left: 15px;
}
.s1{
    display: flex;
    margin: 5px;
    margin-top: 10px;

}
.x1{
    font-size: 25px;
    margin-left: 270px;
}
.x1:hover{
    font-size: 27px;
}
.img{
    height:40px;
    margin-left:20px ;
   
}
.s11{
    font-size: 18px;
}
.s12{
    color: rgb(141, 132, 132);
}
.s2{
    margin-left: 20px;
}
.a2{
    margin-top: 30px;
}
.add{
    margin-top: 30px;
}
.clsname{
   color: white;
   font-size: 18px;
}
.third1{
    margin-left: 20px;
    margin-top: 20px;
}
.img1{
    height: 30px;
    background-color: white;
    border-radius: 50%;
    margin-left: 20px;
}
.img1:hover{
    height: 35px;
    cursor: pointer;
    background-color: aquamarine;
}
.third{
    display: flex;
}
.third2{
    margin-left: 880px
}
.cart:hover{
    cursor: pointer;
    border:3px purple solid;
    transition: 1s;
}
.a2:hover{
    background-color: rgb(200, 196, 196);
    cursor: pointer;
    border-radius: 5px;
}